body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #ffecd2, #fcb69f);
  text-align: center;
  margin: 0;
}

.contenedor {
  padding: 30px;
}

img {
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 200px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #ff7b00;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #e56700;
}

.zona-frutas {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.fruta {
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  font-size: 18px;
  transition: 0.3s;
  box-shadow: 0 0 5px gray;
}

.activa {
  background: yellow;
  transform: scale(1.2);
}

#resultado {
  margin-top: 15px;
  font-weight: bold;
}

